In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [2]:
train_df = pd.read_csv('drugsComTrain_raw.csv')

In [3]:
train_df.head()

,uniqueID,drugName,condition,review,rating,date,usefulCount
0,206461,Valsartan,Left Ventricular Dysfunction,"""It has no side effect, I take it in combinati...",9,20-May-12,27
1,95260,Guanfacine,ADHD,"""My son is halfway through his fourth week of ...",8,27-Apr-10,192
2,92703,Lybrel,Birth Control,"""I used to take another oral contraceptive, wh...",5,14-Dec-09,17
3,138000,Ortho Evra,Birth Control,"""This is my first time using any form of birth...",8,3-Nov-15,10
4,35696,Buprenorphine / naloxone,Opiate Dependence,"""Suboxone has completely turned my life around...",9,27-Nov-16,37

In [4]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161297 entries, 0 to 161296
Data columns (total 7 columns):
uniqueID       161297 non-null int64
drugName       161297 non-null object
condition      160398 non-null object
review         161297 non-null object
rating         161297 non-null int64
date           161297 non-null object
usefulCount    161297 non-null int64
dtypes: int64(3), object(4)
memory usage: 8.6+ MB

In [5]:
train_df.describe()

            uniqueID         rating    usefulCount
count  161297.000000  161297.000000  161297.000000
mean   115923.585305       6.994377      28.004755
std     67004.445170       3.272329      36.403742
min         2.000000       1.000000       0.000000
25%     58063.000000       5.000000       6.000000
50%    115744.000000       8.000000      16.000000
75%    173776.000000      10.000000      36.000000
max    232291.000000      10.000000    1291.000000

In [6]:
train_df.shape

(161297, 7)

In [7]:
test_df = pd.read_csv('drugsComTest_raw.csv')

In [8]:
test_df.head()

,uniqueID,drugName,condition,review,rating,date,usefulCount
0,163740,Mirtazapine,Depression,"""I&#039;ve tried a few antidepressants over th...",10,28-Feb-12,22
1,206473,Mesalamine,"Crohn's Disease, Maintenance","""My son has Crohn&#039;s disease and has done ...",8,17-May-09,17
2,159672,Bactrim,Urinary Tract Infection,"""Quick reduction of symptoms""",9,29-Sep-17,3
3,39293,Contrave,Weight Loss,"""Contrave combines drugs that were used for al...",9,5-Mar-17,35
4,97768,Cyclafem 1 / 35,Birth Control,"""I have been on this birth control for one cyc...",9,22-Oct-15,4

In [9]:
test_df.shape

(53766, 7)

In [10]:
categorical_cols = [col for col in train_df.columns if (train_df[col].dtype == 'object') &
                    (col != 'review') & (col != 'date')]
categorical_cols

['drugName', 'condition']

In [11]:
train_df.isna().sum()

uniqueID         0
drugName         0
condition      899
review           0
rating           0
date             0
usefulCount      0
dtype: int64

In [12]:
train_df = train_df.fillna('')

In [13]:
from sklearn.preprocessing import LabelEncoder

In [14]:
le = LabelEncoder()

In [15]:
train_df[categorical_cols] = train_df[categorical_cols].apply(lambda col: le.fit_transform(col))
train_df.head()

,uniqueID,drugName,condition,review,rating,date,usefulCount
0,206461,3203,467,"""It has no side effect, I take it in combinati...",9,20-May-12,27
1,95260,1431,74,"""My son is halfway through his fourth week of ...",8,27-Apr-10,192
2,92703,1854,166,"""I used to take another oral contraceptive, wh...",5,14-Dec-09,17
3,138000,2285,166,"""This is my first time using any form of birth...",8,3-Nov-15,10
4,35696,516,575,"""Suboxone has completely turned my life around...",9,27-Nov-16,37

In [16]:
from datetime import datetime

In [18]:
train_df['date'] = train_df['date'].map(lambda date: datetime.strptime(date, "%d-%b-%y"))

In [20]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161297 entries, 0 to 161296
Data columns (total 7 columns):
uniqueID       161297 non-null int64
drugName       161297 non-null int64
condition      161297 non-null int64
review         161297 non-null object
rating         161297 non-null int64
date           161297 non-null datetime64[ns]
usefulCount    161297 non-null int64
dtypes: datetime64[ns](1), int64(5), object(1)
memory usage: 8.6+ MB

In [26]:
train_df['day_of_month'] = train_df['date'].map(lambda d: d.day)
train_df['month'] = train_df['date'].map(lambda m: m.month)
train_df['year'] = train_df['date'].map(lambda y: y.year)